@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');

html, body, .container-fluid{
  height: 100%;
  font-family: "Kanit";
}

.container-fluid{
  background-color: #003561;
}

h1{
  text-align: center;
  color: #b3a98b;
  padding-top: 0.5cm;
}

#return{
  visibility: hidden;
}

ul{
  list-style-type: none;
}

.fa-times{
  color: red;
}

.fa-check{
  color: green;
}

#html-editor, #return{
  border: 2pt solid #879aad;
}

.btn{
  margin-top: 0.5cm;
  border: 2pt solid #003561 !important;
  background-color: #b3a98b !important;
  color: white !important;
}

.btn:hover{
    border: 2pt solid #488fdb !important;
    background-color: #706649 !important;
}

.navbar{
  background-color: #488fdb !important;
  color: white !important;
}

.nav-brand{
  font-style: 16pt;
}

.menuButton{
  background-color: #488fdb;
  border:none;
  color:white;
  margin: 0.2cm;
  border:2pt solid #488fdb;
  transition-duration: 0.3s;
  font-size: 14pt;
}

.menuButton:hover{
  border:2pt solid #b3a98b;
}

.buttons{
  margin: 0.5cm;
}

#taskButton{
  margin-bottom: 0.5cm;
}

code{
  color: #488fdb !important;
}
